<div class="group-header">
    <div class="header-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/3840px-LEGO_logo.svg.png" alt="">
    </div>
    <div class="group-navigation">
        <a routerLink="" class="btn-navigation"><img src="../../../assets/images/shopping-cart.svg" alt="Shopping" stype="width: 40px", height="40px"></a>
        <a routerLink="/create" class="btn-navigation"><img src="../../../assets/images/store.svg" alt="Store" style="width: 40px; height: 40px;"></a>
    </div>
</div>