<div class="group-header">
  <div class="header-logo">
    <a [routerLink]="['']" (click)="checkUserSession()">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/3840px-LEGO_logo.svg.png"
        alt="LEGO Logo"
      />
    </a>
  </div>

  <div class="menu">
    <a *ngIf = "(user && user.role === 'User') || user === null" routerLink="/" >TRANG CHỦ</a>
    <a *ngIf="user && user.role === 'Admin'" routerLink="/admin" (click)="checkUserSession()">ADMIN DASHBOARD</a>
    <!-- <a *ngIf="user && user.role === 'User'" routerLink="/" (click)="checkUserSession()">LOGO1</a>
    <a *ngIf="user && user.role === 'User'" routerLink="/" (click)="checkUserSession()">LOGO2</a>
    <a *ngIf="user && user.role === 'User'" routerLink="/" (click)="checkUserSession()">LOGO3</a> -->

    <a *ngIf = "(user && user.role === 'User') || user === null" routerLink="/" >LOGO1</a>
    <a *ngIf = "(user && user.role === 'User') || user === null" routerLink="/" >LOGO2</a>
    <a *ngIf = "(user && user.role === 'User') || user === null" routerLink="/" >LOGO3</a>

    <a *ngIf="user && user.role === 'User'" routerLink="/orders-history" (click)="checkUserSession()">ĐƠN HÀNG CỦA TÔI</a>
  </div>

  <div class="group-navigation">
    <ng-container *ngIf="user; else guestNav">
      <span class="user-welcome">Xin chào, {{ user.fullName }}</span>
      
      <a *ngIf="user.role === 'User'" routerLink="/cart" (click)="checkUserSession()" class="btn-navigation">
        <img src="assets/images/shopping-cart.svg" alt="Shopping" />
        <span class="cart-count" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
      </a>

      <button (click)="handleLogout()" class="btn-logout">
        Đăng xuất
      </button>
    </ng-container>

    <ng-template #guestNav>
      <a routerLink="/login" class="btn-login-header">Đăng nhập</a>
    </ng-template>
  </div>
</div>
