<div class="group-cart">
  <div class="header-cart">
    <div class="col-1">Image</div>
    <div class="col-2">Name</div>
    <div class="col-3">Price</div>
    <div class="col-4">Quantity</div>
    <div class="col-5">Action</div>
  </div>
  <div class="body-cart">
    <div class="row-cart" *ngFor="let cartItem of cartItems">
      <div class="col-1">
        <a [routerLink]="['/detail', cartItem.productId]">
          <img width="80px" height="auto" src="{{ cartItem.image }}" alt="" />
        </a>
      </div>
      <div class="col-2">{{ cartItem.productName | upperCasePipe }}</div>
      <div class="col-3">{{ cartItem.price | currencyPipe }}</div>
      <div class="col-4">
        {{ cartItem.quantity }}
      </div>
      <div class="col-5">
        <div class="btn-main" (click)="handleDeletee(cartItem.id)">
          <img
            width="20px"
            height="auto"
            src="../assets/images/trash1.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <span>Tổng giá trị đơn hàng: {{ totalPrice | currencyPipe }}</span>
</div>
