<div class="wrap-create">
  <div class="card-form">
    <h2>CREATE PRODUCT</h2>

    <div [formGroup]="product" class="form">

      <!-- NAME -->
      <div class="form-control">
        <label>Name</label>
        <input type="text" formControlName="name" placeholder="Enter product name" />

        <div *ngIf="name?.dirty || name?.touched">
          <small class="error" *ngIf="name?.hasError('required')">
            Name is required
          </small>
        </div>
      </div>

      <!-- PRICE -->
      <div class="form-control">
        <label>Price</label>
        <input type="text" formControlName="price" placeholder="Enter price" />

        <div *ngIf="price?.dirty || price?.touched">
          <small class="error" *ngIf="price?.hasError('required')">
            Price is required
          </small>
        </div>
      </div>

      <div class="form-control">
        <label>Description</label>
        <textarea formControlName="description" placeholder="Enter product description"></textarea>
      </div>

      <!-- BUTTON -->
      <div class="form-control">
        <button class="btn" (click)="handleAddProduct()">
          Add Product
        </button>
      </div>

    </div>
  </div>
</div>