<div class="wrapper-home">
  <h2>Let's Shopping</h2>

  <div class="product-list">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.image" [alt]="product.name" />

      <h3>{{ product.name }}</h3>

      <div class="price-cart">
        <p class="price">
          {{ product.price | currencyPipe }}
        </p>

        <div (click)="handleAddToCart(product)" class="add-cart">
          <i class="fa-solid fa-cart-plus"></i>
        </div>
      </div>
      <a [routerLink]="['detail', product.id]">
        <button>Xem chi tiết</button>
      </a>
    </div>
  </div>
</div>
